@import "tailwindcss";

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(calc(-50% - 12px)); } /* 12px is half of the 24px (gap-6) to ensure perfect looping */
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  width: max-content;
}

.hover\:play-state-paused:hover {
  animation-play-state: paused;
}
